<section id="newsFeed">
  <div clss="newsFeedWrapper">
    <mat-list role="list">

      <mat-list-item *ngFor="let item of news">
        <div class="itemWrapper" (click)="navigateTo(item.story_url['value'])" target="_blank">
          <div class="title">{{ item.title }}</div>
          <div class="author">{{ item.author }}</div>
          <div class="createdAt">{{ item.author }}</div>
        </div>
        <button class="trash" (click)="onDelete(item.story_id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </div>
</section>