.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    justify-content: space-between;
}

.mat-icon {
    color: #333;
}

.title,
.createdAt {
    color: #333;
    font-size: 13pt;
}

.author {
    position: absolute;
    left: 39rem;
    color: #999;
    font-size: 12pt;
}

.madeToDB {
    background: rgb(16, 218, 16);
}