html,
body {
    height: 100%;
    width: 90%;
}

#hiddenForE2E {
    opacity: 0;
}

body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar h1 {
    font-size: 40px;
    margin-bottom: -6%;
    letter-spacing: 4px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    justify-content: space-between;
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    width: 86%;
    cursor: pointer;
}